body {
  background-color: whitesmoke;
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 40px 5px lightblue;
  position: relative;
}

.top > h1 {
  text-align: center;
  color: gray;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

.middle {
  padding-right: 30px;
}

.shopping__list {
  display: flex;
  justify-content: space-between;
}

.shopping__list-items {
  list-style: none;
}

.bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopping__list-add {
  height: 40px;
  width: 395px;
  background-color: lightgrey;
  border: none;
}

.shopping__list-add:focus {
  outline: none;
}

.shopping__list > i {
  transition: all 0.2s ease-in-out;
}

.shopping__list > i:hover {
  transform: scale(1.5);
  color: red;
  cursor: pointer;
}

.add__btn {
  font-size: 40px;
  border: none;
  padding-top: 20px;
}

.add__btn:hover {
  transform: scale(1.2);
}
